body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.current-number {
    font-size: 500px;
    font-weight: bold;
    margin-bottom: 20px;
}

.previous-numbers {
    font-size: 250px;
}
